@charset 'utf-8';
/*==========全局==========*/
//同一份 css 在不同浏览器下表现不同  border 和 padding 就被包含在了宽高之内
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


// 全浏览器通用的clearfix方案【推荐】
// 引入了zoom以支持IE6/7
// 同时加入:before以解决现代浏览器上边距折叠的问题
.clearfix:before , .clearfix:after {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both;
}

.clearfix {
    *zoom: 1;
}

html , body {
	position: relative;
	overflow-x: hidden;
	//全屏滚动
	-webkit-overflow-scrolling: touch;
}

html {
	font-size: 62.5%;
	background: #F5F5F5;
	    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	color: #333333;
}

body , button , input , optgroup , select , textarea , h1 , h2 , h3 , h4 , h5 , h6 , p , figure , form , blockquote , ul , ol , li , dl , dd {
	margin: 0;
	padding: 0;
}

.h1 , h2 , h3 , h4 , h5 , h6 {
	font-weight: normal;
}

article , aside , details , figcaption , figure , footer , header , hgroup , main , nav , section , summary {
	display: block;
}

input[type='button'] , input[type='submit'] , input[type='reset'] {
	-webkit-appearance: none;
}

img {
	vertical-align: middle;
	border: 0;
}

ul , ol {
	list-style: none;
}

input , textarea , select {
	font-size: 100%;
	outline: none;
}

a {
	text-decoration: none;
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.table {
	border-spacing: 0;
	border-collapse: collapse;
}

.clear {
	clear: both;
	overflow: hidden;
	height: 0;
}


.ui-hidden {
	display: none;
}

.ui-block {
	display: block;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.dn {
	display: none;
}

.tc {
	text-align: center;
}

.w1200 {
	width: 1200px;
	margin: 0 auto;
}

